doctype html
html
  head
 meta(charset='utf-8')
    title Add to "Lophophore
     link rel = "stylesheet" href="styles.css"/
     link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"
     link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet"
     link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"
     link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"

 body
ul class="menu-main"
  li a href="" class="current"
  .container
  a.border-animation(href="#")
    .border-animation__inner Choose</a></li
  li a href="">About</a></li
  li a href="">Blog</a></li
  li a href="">Contact</a></li
     h2 align="center" font-size="20px;">Lophophore</h2
     div class=head
       hr class="head"
         div class="cash"
             button class="button" style="vertical-align:middle"><span>cashback
        
  form action="/adder" method="POST" align="center"
   table align="center" cellpadding="0"
        <tr> 
            <th>
                 <div class="nameName">Введите наименование</div>
            </th>
        </tr>
        <tr>
            <td>
                 <div class ="name">
                 <textarea rows="1" cols=100 name="name"></textarea>
                 </div>
            </td>
        </tr>
            <tr>
            <th>
              Введите ссылку
            </th>
            </tr>
        <tr>
            <td>
                <div class ="src">
                   
                <textarea rows="1" cols="100" name="src"></textarea>
                
                </div>
            </td>
        </tr>
            <tr>
            <th>
                Введите ссылку на изображение
            </th>
            </tr>
        <tr>
            <td>
                <div class ="imgsrc">
                   
                <textarea rows="1" cols="100" name="imgsrc"></textarea>
                   
                </div>
            </td>
        </tr>
                <tr>
            <td>  
                <hr class="tag">
                <div class="ageH">Предположительный возраст покупателя</div>
            </td>  
                </tr>
            <tr>
                <td>
                <div class ="age">
                    <p><input name="Age" type="radio" value="1"> Меньше 10</p>
                    <p><input name="Age" type="radio" value="2"> Больше 10, но меньше 20</p>
                    <p><input name="Age" type="radio" value="3"> Больше 20, но меньше 30</p>
                    <p><input name="Age" type="radio" value="4"> Больше 30, но меньше 40</p>
                    <p><input name="Age" type="radio" value="6"> Больше 50, но меньше 60</p>
                </div>
                </td>    
            </tr> 
            <tr>
             <td>
                <div class="genderH">Предположительный пол</div>
             </td>    
            </tr>
               <tr>
            <td>
                <div class ="gender">
            <p><input name="Gender" type="radio" value="1"> Мужчина</p>
            <p><input name="Gender" type="radio" value="2"> Женщина</p>
                </div>
            </td>
                </tr>
                <tr>
            <td>
                <div class="eventH">Предположительное событие</div>
            </td> 
                </tr>
                <tr>
                    <td>
                <div class ="event">
                <p><input name="Event" type="radio" value="Birthday"> На день рождения</p>
                <p><input name="Event" type="radio" value="Wedding"> На свадьбу (гость)</p>
                <p><input name="Event" type="radio" value="BusinessMeeting"> Для деловой встречи</p>
                <p><input name="Event" type="radio" value="Work"> Для работы на каждый день</p>
                <p><input name="Event" type="radio" value="Weekend"> Для выходного дня</p>
                </div>
                    </td>
                </tr>
                <tr>
            <td>
                <div class="styleH">Предположительный стиль одежды</div>
            </td> 
                </tr>
        <tr>   
            <td>
                <div class ="style">
                    <p><input name="Style" type="radio" value="Strong">Строгий</p>
                    <p><input name="Style" type="radio" value="Soft">Свободный</p>
                    <p><input name="Style" type="radio" value="Bright">Яркий</p>
                </div>        
            </td>      
        </tr>
    </table>
                 <p><input id=elem type="submit" value="Выбрать"></p>
      <script>
  ADDelem.onclick = function() {
      var Age;
      var Seks;
      var Event;
      var Style;
      
        var rad=document.getElementsByName('Age');
    for (var i=0;i<rad.length; i++) {
        if (rad[i].checked) {
            Age = rad[i].value;
        }
    }
      
        var rad=document.getElementsByName('Gender');
    for (var i=0;i<rad.length; i++) {
        if (rad[i].checked) {
            Gender = rad[i].value;
        }
    }
      
        var rad=document.getElementsByName('Event');
    for (var i=0;i<rad.length; i++) {
        if (rad[i].checked) {
            Event = rad[i].value;
        }
    }
        var rad=document.getElementsByName('Style');
    for (var i=0;i<rad.length; i++) {
        if (rad[i].checked) {
            Style = rad[i].value;
        }
    }
  };
