<!DOCTYPE html>
<html>
<head>
    <title>Lophophore!</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Мы определили несколько подходящих вещей!</h2>
    <img src='{{img1}}' width="360" height="360">  
    <h4>{{name1}}</h4>
    <p>{{adr1}}</p>
    <p></p>
    <img src='{{img2}}' width="360" height="360">  
    <h4>{{name2}}</h4>
    <p>{{adr2}}</p>
    <p></p>
    <img src='{{img3}}' width="360" height="360">  
    <h4>{{name3}}</h4>
    <p>{{adr3}}</p>
</body>
<html>